                   :root {
                      --color-primary: #5ec576;
                      --color-secondary: #ffcb03;
                      --color-tertiary: #ff585f;
                      --color-primary-darker: #4bbb7d;
                      --color-secondary-darker: #ffbb00;
                      --color-tertiary-darker: #fd424b;
                      --color-primary-opacity: #5ec5763a;
                      --color-secondary-opacity: #ffcd0331;
                      --color-tertiary-opacity: #ff58602d;
                      --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
                      --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
                  }
                  
                  * {
                      margin: 0;
                      padding: 0;
                      box-sizing: inherit;
                  }
                  
                  body {
                      height: 30cm;
                      background-color: rgb(252, 13, 13);
                      /* background: radial-gradient(circle, #6699ff -170%, #00001f 100%); */
                      font-family: 'Poppins', sans-serif;
                      font-weight: 300;
                      color: #ffffff;
                      line-height: 1.9;
                      background-color: rgb(224, 218, 218);
                  }
                  
                  .tittle {
                      position: relative;
                      margin-left: -14.6cm;
                  }
                  
                  ul {
                      list-style: none;
                      overflow: hidden;
                      margin: 0;
                      padding: 0;
                      padding-top: 0%;
                  }
                  
                  nav {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      height: 9rem;
                      width: 100%;
                      z-index: 100;
                      padding-top: 1px;
                      margin-top: -1cm;
                  }
                  
                  nav li {
                      float: right;
                      padding-right: auto;
                      margin-left: 4rem;
                  }
                  
                  nav li a {
                      display: block;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: large;
                      padding: 0px 10px;
                      text-decoration: none;
                      color: aliceblue;
                      text-align: center;
                      transition: width 2s, height 4s;
                      padding-bottom: auto;
                      margin-top: auto;
                  }
                  
                  .stuffs {
                      height: 4cm;
                      width: 12cm;
                      margin: 2cm;
                      position: relative;
                  }
                  
                  .stuffs h1 {
                      color: red;
                  }
                  
                  .tables {
                      display: flex;
                      flex-flow: row wrap;
                      width: 100%;
                      max-width: 1001px;
                      margin: 29px auto;
                      margin-left: 6cm;
                  }
                  
                  .tables .table-header {
                      float: right;
                      align-items: center;
                      padding: 15px;
                      position: relative;
                      right: 27cm;
                  }
                  
                  .table-header {
                      padding: 15px;
                      margin-left: 0%;
                  }
                  
                  header h1 {
                      margin-left: 14cm;
                      color: orangered;
                      font-weight: bold;
                  }
                  
                  header p {
                      margin-left: 12cm;
                      font-weight: bold;
                  }
                  
                  .monyr {
                      margin-left: 14cm;
                      width: 5cm;
                      background-color: none;
                      border: solid;
                      height: 41px;
                      border-width: 2px;
                      color: #031331;
                      margin-left: 15cm;
                      padding-top: -12px;
                      margin-bottom: -10px;
                      padding-right: 0px;
                      padding-bottom: -15px;
                      border-radius: 1px;
                      margin-bottom: 30px;
                  }
                  
                  .monyr li {
                      float: right;
                      list-style: none;
                      list-style-type: none;
                  }
                  
                  .monyr ul .monthly {
                      position: relative;
                      top: 5px;
                      left: 1.7cm;
                      text-decoration: none;
                      color: black;
                  }
                  
                  .monyr ul .yearly {
                      position: relative;
                      top: 5px;
                      left: 0.7cm;
                      text-decoration: none;
                      color: black;
                  }
                  
                  h2 {
                      color: rgb(255, 255, 255);
                  }
                  
                  .fa-fa-star {
                      color: red;
                  }
                  
                  .tb-3 h2 {
                      color: rgb(148, 148, 148);
                  }
                  
                  .table-header {
                      height: 12cm;
                      width: 6cm;
                      border: solid;
                      text-align: center;
                      font-family: Arial, Helvetica, sans-serif;
                      border: none;
                      transform: translate (-50%, -50%);
                      padding-top: 24px;
                      font-family: Arial, Helvetica, sans-serif;
                      list-style-type: none;
                      list-style: armenian;
                      margin-right: 1cm;
                      border-top-right-radius: 10px;
                      border-top-left-radius: 10px;
                      text-align: center;
                  }
                  
                  .table-header.tb-1 {
                      background: radial-gradient(circle, #ff3502 100%, #fdfdff 50%);
                  }
                  
                  .table-header.tb-2 {
                      background: radial-gradient(circle, #02ff4e 100%, #fdfdff 50%);
                  }
                  
                  .table-header.tb-3 {
                      background: radial-gradient(circle, #eeff03 100%, #fdfdff 50%);
                  }
                  
                  .descs {
                      background-color: white;
                      margin-top: 47px;
                      width: 6.75cm;
                      margin-left: -14px;
                      border-top-left-radius: 45px;
                      border-top-right-radius: 45px;
                      color: black;
                      font-weight: bold;
                      align-items: center;
                      justify-items: center;
                      text-align: center;
                  }
                  
                  .descs.tb-1 {
                      margin-top: -78px;
                  }
                  
                  .contentsinside {
                      text-align: center;
                      padding-top: 2.5cm;
                      height: 5.7cm;
                  }
                  
                  .cpu {
                      padding-bottom: 4cm;
                  }
                  
                  .buy-now {
                      margin-left: 0cm;
                      width: 2cm;
                      background-color: rgb(37, 84, 187);
                      font-family: Arial, Helvetica, sans-serif;
                      color: white;
                      padding-left: 25px;
                      padding-right: 27px;
                      padding-top: 15px;
                      font-stretch: expanded;
                      padding-bottom: 6px;
                      border-radius: 45px;
                      border-style: none;
                      opacity: 5;
                  }
                  
                  .buy-now:hover {
                      background-color: rgb(175, 173, 173);
                  }
                  
                  .recommended {
                      color: #fcfcfc;
                      position: relative;
                      left: -2.2cm;
                      top: -25.2px;
                      transform: rotate(-45deg);
                      padding-bottom: -20px;
                      padding-top: -44px;
                      padding-left: -17px;
                      font-size: 13px;
                      height: 1;
                      overflow: hidden;
                  }
                  
                  .trinagleleft {
                      width: 5px;
                      height: 0;
                      border-right: 96px solid transparent;
                      border-top: 98px solid rgb(40 207 29);
                      text-align: inherit;
                      position: relative;
                      top: 1.17cm;
                      left: -0.4cm;
                      padding-bottom: -16px;
                      padding-top: 0px;
                      border-top-left-radius: 47px;
                  }